/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 padding: 10px 10px;
 margin: 0px auto;
}
#header{
 width: 98%;
 height: 150px;
 display: block;
 background-color: green;
 margin: 10px auto;
}
#navigation{
 height: 300px;
 width: 200px;
 vertical-align: top;
 display: inline-block;
 background-color: blue;
 margin: 10px;
}
#main_content{
 height: 380px;
 width: 680px;
 display: inline-block;
 overflow: hidden;
 background-color: red;
 margin: 10px;
 padding: 10px;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin: 10px 7px;
}

#advertisement{
 height: 120px;
 width: 660px;
 display: block;
 background-color: purple;
 margin: 5px 8px 5px 9px;
}
