
#wrapper{
 width: 970px;
 background-color: gray;
 margin: auto;
 padding: 20px 0px;
}

.red{
  height: 200px;
  width: 312px;
  display: inline-block;
  background-color: red;
  margin: 20px 85px 10px 85px;
}

.blue{
  height: 200px;
  width: 800px;
  background-color: blue;
  margin: 10px auto;
}

.yellow{
 height: 200px;
 width: 190px;
 display: inline-block;
 background-color: yellow;
 margin: 10px 5px 10px 85px;
 padding: 7px;
}

.green {
  height: 200px;
  width: 800px;
  background-color: green;
  margin: 10px auto;
}

.clear {
  height:90px;
  width: 415px;
  display: inline-block;
}

.purple {
  height:150px;
  width: 150px;
  display: inline-block;
  background-color: purple;
  margin: 25px 0px 25px 25px;
}
